@use "../../style/colors.scss" as colors;

#pageTitle {
    height: 100%;
    width: 100%;
    background-color: colors.$wwpurple;
    border-bottom: 8px solid white;
    position: relative;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.7rem;
        font-weight: bold;
        
        color: white;
    }

    .backButton {
        position: absolute;
        left: 2%;
        top: 0%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 15%;

        img {
            height: fit-content;
        }

        &:hover {
            cursor: pointer;
        }
    }
}