@use "../../style/colors.scss" as colors;

#contact {
    position: relative;    
}

#contact-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 5%;
    padding: 5%;
    row-gap: 2%;
}