@use "../../style/colors.scss" as colors;

#motivationLetter {
    height: 100%;
    width: 100%;
    position: relative;

    
    display: flex;
    justify-content: center;
    align-items: center;

    #close {
        position: absolute;
        width: 12%;
        left: 2%;
        top: 2%;

        &:hover {
            cursor: pointer;
        }
    }
    
    * {
        color: colors.$wwdark;
        height: fit-content;
    }
    
    #wrapper {
        overflow-y: scroll;
        padding-top: 10%;
        padding-bottom: 18%;
        padding-left:  3%;
        padding-right:  3%;
        height: 99%;
        width: 99%;

        border-radius: 25px;
        border: 2px solid colors.$wwdark;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: white;

        #header {
            position: relative;

            margin-bottom: 8%;

            img {
                position: absolute;
                width: 18%;

                right: 0%;
                top: -40%;
            }
        }

        h1 {
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
        }

        #object {
            text-decoration: underline;
            margin-bottom: 5%;

            span {
                font-weight: bold;
            }
        }

        #job-offer {
            color: blue;
        }

        #introduction,
        #paragraphe-1,
        #paragraphe-2,
        #closing,
        #salutations {
            margin-bottom: 3%;
        }

        #signature {
            font-weight: bold;
            font-size: 1.1rem;
        }

    }

    
}