@use "../../style/colors.scss" as colors;

$animationDuration: 1s;

.experience-dropdown {
    display: flex;
    height: 13vh;
    width: fit-content;
    align-items: center;
    height: fit-content;
    padding: 2%;

    .info-toggle {
        visibility: hidden;
    }

    .dropdown-indicator {
        height: 40px;
        width: fit-content;
    }


    .infoBox {
        width: 100%;

        .sublabel {
            font-weight: normal;
            font-size: 0.8rem;
        }

        .label {
            font-size: 1.1rem;
            height: fit-content;
        }

        .duration {
            display: flex;
            height: fit-content;
            width: fit-content;

            p {
                font-weight: normal;
                font-size: 0.9rem;
                word-spacing: nowrap;
                width: fit-content;
                padding: 2px;

                span {
                    font-weight: bold;
                }
            }
        }
    }

}

.right {
    align-self: flex-end;
    animation: bounceInRight $animationDuration
}

.left {
    align-self: flex-start;
    animation: bounceInLeft $animationDuration
}

#selected {
    justify-content: center;
    max-height: fit-content;
    width: 98%;
    align-self: center;

    .info-toggle {
        margin-top: 2%;
        visibility: visible;
        height: fit-content;

        p {
            margin-top: 5%;
            font-weight: normal;
            font-size: 0.9rem;
            max-width: 90%;

            ul {
                li {
                    max-width: 90%;
                }
            }

        }

        .tasks {
            ul>li:before {
                content: "- ";
            }
        }

        .tools {
            ul {
                li {}
                list-style: inside;
            }
        }

        .tools {
            ul {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                column-gap: 2%;

                li {
                    width: 40%;
                }
            }
        }

        span {
            font-weight: bold;
            font-size: 1rem;
        }
    }

    .dropdown-indicator {
        height: 40px;
        transform: rotate(180deg);
    }

    .infoBox {
        flex-shrink: 0;
        width: fit-content;

        .label {
            font-size: 1.1rem;
            height: fit-content;
        }

        .duration {
            display: flex;
            height: fit-content;
            width: fit-content;

            p {
                font-weight: normal;
                font-size: 0.9rem;
                word-spacing: nowrap;
                width: fit-content;
                padding: 2px;

                span {
                    font-weight: bold;
                }
            }
        }
    }


}

#selected:hover {
    background-color: colors.$wwpurple;
    border-color: white;

    * {
        color: white;
    }

    a {
        color: blue;
    }
}